* {
  box-sizing: border-box;
}
:root {
  --width-img--product: calc(
    (100vw - 5 * var(--gap-products-container) - 2 * var(--padding-page)) / 4
  );
  --height-svg-arrow--product: 24px;
  --height-svg-arrow--instagram: 38px;
  --width-img--instagram: calc(
    (100vw - 2 * var(--padding-page) - 3 * var(--gap-instagram-cards-container)) /
      4
  );
  --gap-products-container: 25px;
  --gap-instagram-cards-container: 30px;
  --background-color--page: white;
  --background-color--button: #f675b3;
  --background-color--input-email: #e8e6e6;
  --color--input-email: black;
  --background-color--input-email-focus: #fefac4;
  --color--tooltip: black;
  --background-color--tooltip: #f1f1f1;
  --padding-page: 60px;
  --background-color--nav: #4ddcd6;
  --color-nav: #f675b3;
  --padding-card: 30px;
}
body {
  margin: 0px;
  font-family: "Jost", Arial, sans-serif;
  font-weight: 400;
  overflow: overlay;
}
.page {
  background-color: var(--background-color--page);
  padding-left: var(--padding-page);
  padding-right: var(--padding-page);
  transition: background-color 0.4s ease-in;
}
.toolbar {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  position: fixed;
  width: calc(100% - 2 * var(--padding-page));
  z-index: 1;
  align-items: center;
}
.link {
  text-decoration: none;
  color: black;
}
.link-toolbar {
  display: flex;
  align-items: center;
}
.menu-icon-container {
  display: flex;
  gap: 2vw;
  align-items: center;
}
.language-container {
  display: flex;
  gap: 0.8vw;
  align-items: center;
}
.button.language {
  font-size: 15px;
  font-family: "Hind", Arial, sans-serif;
  padding-top: 4px;
}
.button.language.disabled-language {
  opacity: 0.3;
  cursor: default;
}
.button.eng {
  font-weight: 500;
}
.icon-login {
  width: 24px;
  height: 24px;
}
.login {
  display: flex;
  align-items: center;
  gap: 1vw;
}
.login-show {
  display: none;
}
.login-content {
  min-width: 50px;
}
.login-content:hover,
.language:hover {
  opacity: 0.5;
}
.login-container {
  display: flex;
  gap: 2vw;
}
.messenger-container {
  display: flex;
  gap: 1vw;
}
.basket {
  padding-bottom: 5px;
}
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 40px;
}
.logo {
  display: flex;
  position: relative;
}
.svg-yellow {
  stroke: #fcef50;
  fill: #fcef50;
  stroke-width: 5;
}
.svg-loop-yellow {
  position: absolute;
  top: 28px;
  left: -60px;
}
.svg-circle-yellow {
  position: absolute;
  bottom: 26px;
  left: -66px;
}
.svg-pink {
  stroke: #f675b3;
  fill: #f675b3;
  stroke-width: 5;
}
.svg-triangle-pink {
  position: absolute;
  bottom: 3px;
  left: -24px;
  transform: rotate(120grad);
}
.svg-blue {
  stroke: #4ddcd6;
  fill: #4ddcd6;
  stroke-width: 5;
}
.svg-circle-blue-small {
  position: absolute;
  bottom: 40px;
  left: -25px;
}
.svg-circle-pink {
  position: absolute;
  top: 33px;
  left: -12px;
}
.svg-loop-pink {
  position: absolute;
  top: 33px;
  right: -74px;
  transform: rotate(140grad);
}
.svg-triangle-blue {
  position: absolute;
  top: 15px;
  right: -32px;
  transform: rotate(80grad);
}
.svg-triangle-pink-small {
  position: absolute;
  bottom: 40px;
  right: -33px;
  transform: rotate(110grad);
}
.svg-circle-yellow-small {
  position: absolute;
  bottom: 5px;
  right: -45px;
}
.svg-circle-blue {
  position: absolute;
  bottom: 30px;
  right: -80px;
}
.parallax {
  background-image: url("../images/background.jpg");
  width: 100%;
  height: 100vh;
  min-height: 300px;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.title {
  font-size: 35px;
  margin-top: 20px;
  white-space: nowrap;
}
h1 {
  line-height: 1em;
  text-align: center;
  font-size: 110px;
  font-weight: 400;
  max-width: 904px;
  margin: 0px;
  margin-bottom: 30px;
}
.button-shop--now {
  padding: 8px 18px;
  background-color: var(--background-color--button);
  color: white;
  font-size: 18px;
  border: 2px solid var(--background-color--button);
  transition: background-color, border-color 0.4s, 0.4s ease-in;
  font-weight: 300;
  line-height: 100%;
}
.button-shop--now:hover,
.button-subscribe:hover {
  background-color: transparent;
  color: var(--background-color--button);
}

.advert-wrapper {
  background-image: url("../images/grid.png");
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  height: 140px;
  background-size: contain;
  position: relative;
}
.advert-inner {
  width: 73%;
  height: 100%;
}
.advert {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 45px;
  line-height: 100%;
  height: 100%;
}
.advert-order {
  color: #5dd9c8;
}
.advert-pack {
  color: #f675b3;
}
.svg--advert-loop-yellow {
  position: absolute;
  bottom: 23%;
  left: 9%;
}
.svg-pink--light {
  stroke: #feb1a7;
  fill: #feb1a7;
}
.svg--advert-circle-pink--light {
  position: absolute;
  bottom: 25%;
  left: 7%;
}
.svg-blue--light {
  stroke: #bff3f1;
  fill: #bff3f1;
  stroke-width: 5;
}
.svg--advert-circle-blue--light {
  position: absolute;
  top: 25%;
  left: 12%;
}
.svg--advert-circle-pink {
  position: absolute;
  bottom: 25%;
  left: 1%;
}
.svg--advert-triangle-pink {
  position: absolute;
  top: 35%;
  left: 4%;
  transform: rotate(50grad);
}
.svg--advert-loop-pink {
  position: absolute;
  top: 30%;
  right: 2%;
  transform: rotate(230grad);
  stroke-width: 3;
}
.svg--advert-triangle-blue {
  position: absolute;
  top: 28%;
  right: 12%;
}
.svg--advert-circle-yellow {
  position: absolute;
  top: 35%;
  right: 7%;
}
.svg--advert-circle-blue {
  position: absolute;
  top: 17%;
  right: 1%;
}
.svg--advert-circle-pink-small {
  position: absolute;
  bottom: 42%;
  right: 10%;
}

.products-wrapper {
  display: flex;
  height: 100vh;
  min-height: 700px;
  flex-direction: column;
  justify-content: center;
  border-bottom: 1px solid #e5e5e5;
  gap: 56px;
  padding-bottom: 20px;
}
.products-title {
  font-size: 35px;
  margin: 0px;
  font-weight: 400;
  letter-spacing: 0.03em;
  line-height: 100%;
  padding-top: 20px;
}
.img--product {
  width: 100%;
  position: absolute;
}
.translateY--20-scale--07 {
  transform: scale(0.7) translateY(-20%);
}
.transform-scale--08 {
  transform: scale(0.8);
}
.translateY--25 {
  transform: translateY(25%);
}
.translateY--15-scale--07 {
  transform: scale(0.7) translateY(-15%);
}
.translateY--25-scale--06 {
  transform: scale(0.6) translateY(-25%);
}
.transform-scale--09 {
  transform: scale(0.9);
}
.products-inner--wrapper {
  display: flex;
}
.slide-wrapper {
  width: 100%;
  overflow: hidden;
  position: relative;
}
.products-container {
  display: flex;
  gap: var(--gap-products-container);
  transition: transform 0.5s ease;
}
.product-container:hover .img--product:nth-child(2) {
  opacity: 0;
}
.product-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  position: relative;
  font-weight: 300;
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
}
.product-name {
  font-size: 20px;
  text-align: center;
  word-break: break-all;
}
.product-price {
  font-size: 18px;
  color: var(--background-color--button);
  transition: color, 0.4s ease-in;
}
.arrow-wrapper {
  display: flex;
  justify-content: flex-end;
  position: relative;
  width: var(--gap-products-container);
}
.arrow-wrapper-left {
  justify-content: flex-start;
}
.arrow-card {
  height: var(--height-svg-arrow--product);
  position: absolute;
  top: calc(
    (var(--width-img--product) / 2) - var(--height-svg-arrow--product) / 2
  );
}
.svg-arrow {
  width: 12px;
  height: var(--height-svg-arrow--product);
  stroke: black;
  fill: none;
  stroke-width: 2;
}
.img-wrapper {
  min-width: var(--width-img--product);
  aspect-ratio: 1/1;
}
.quantity-wrapper {
  opacity: 0;
  transition: opacity 0.2s ease;
}
.product-container:hover .quantity-wrapper {
  opacity: 1;
}
.quantity-container {
  display: flex;
  border: 1px solid black;
  height: 40px;
  align-items: center;
  margin-top: 10px;
}
.input-number {
  text-align: center;
  width: 100%;
  border: none;
  font-size: 15px;
  font-family: "Hind", Arial, sans-serif;
  padding-top: 3px;
  font-weight: 300;
  background-color: var(--background-color);
}
.input-number:focus {
  outline: none;
}
.button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
  padding: 0px;
  font-family: "Jost", Arial, sans-serif;
  font-weight: 300;
  line-height: 100%;
}
.button:hover {
  cursor: pointer;
}
.svg-button {
  width: 24px;
  height: 24px;
}
button[disabled="disabled"] {
  opacity: 0.2;
}
button[disabled="disabled"]:hover {
  cursor: default;
}
.button-add {
  margin-top: 10px;
  width: 100%;
  font-size: 15px;
  background-color: var(--background-color--button);
  color: white;
  height: 40px;
}
.button-add:hover {
  opacity: 0.7;
}
.quick--view-container {
  position: absolute;
  bottom: 80px;
  width: 100%;
  overflow: hidden;
}
.quick--view {
  width: 100%;
  transform: translateY(100%);
  transition: transform 0.2s ease-in;
  height: 60px;
  font-size: 14px;
  background-color: rgba(255, 255, 255, 0.75);
}
.product-container:hover .quick--view {
  transform: translateY(0%);
}
.input-number::-webkit-inner-spin-button {
  appearance: none;
}

.footer-wrapper {
  background-image: url("../images/grid.png");
  margin-top: 20px;
  padding-top: 90px;
  padding-bottom: 70px;
  display: grid;
  grid-template-columns: repeat(4, minmax(max-content, 250px));
  grid-template-rows: repeat(3, max-content);
  justify-content: center;
  row-gap: 40px;
  font-weight: 300;
  font-size: 14px;
  letter-spacing: 0.08em;
}
.input-email {
  width: 100%;
  height: 33px;
  padding-left: 21px;
  border: none;
  background-color: var(--background-color--input-email);
  outline: none;
  font-weight: 300;
  margin-top: 10px;
  color: var(--color--input-email);
  transition: background-color 0.4s ease-in;
}
.input-email:hover {
  background-color: var(--background-color--input-email-focus);
  transition: background-color 0.4s ease-in;
}
.input-email:focus {
  background-color: var(--background-color--button);
  transition: background-color 0.4s ease-in;
}
.input-email::placeholder {
  font-size: 14px;
  color: var(--color--input-email);
  font-weight: 300;
  letter-spacing: 0.03em;
}
.button-subscribe {
  margin-top: 8px;
  width: 100%;
  font-size: 18px;
  background-color: var(--background-color--button);
  color: white;
  border: 2px solid var(--background-color--button);
  height: 33px;
  transition: background-color, border-color 0.4s, 0.4s ease-in;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.footer-title {
  font-size: 16px;
  margin-bottom: 40px;
}
.unordered-list {
  list-style: none;
  margin: 0px;
  padding: 0px;
}
.footer-content {
  margin-top: 10px;
}
.grid-column {
  grid-column: span 4;
}
.grid-column-end {
  grid-column: 4/5;
}
.footer-icon-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.svg-arrow-anchor {
  width: 28px;
  height: 16px;
  stroke: black;
  fill: none;
  stroke-width: 3;
}
.link-wix {
  color: black;
}
.instagram-card-wrapper {
  margin-top: 65px;
  display: flex;
  flex-direction: column;
  gap: 56px;
}
.instagram-card-title {
  letter-spacing: 0.03em;
  text-align: center;
  font-size: 50px;
  line-height: 100%;
}
.instagram-card-box {
  width: 100%;
  aspect-ratio: 1/1;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  opacity: 0;
  transition: opacity 0.2s ease-out;
}
.img-wrapper-instagram:hover .instagram-card-box {
  opacity: 1;
}
.hashtag {
  color: white;
  font-size: 24px;
  font-weight: 300;
  text-align: center;
  line-height: 100%;
}
.instagram-cards-container {
  display: flex;
  gap: var(--gap-instagram-cards-container);
  width: 100%;
  transition: transform 0.5s ease;
  padding-bottom: 10px;
}
.arrow-card--instagram {
  height: var(--height-svg-arrow--instagram);
  position: absolute;
  top: calc(
    (var(--width-img--instagram) / 2) - var(--height-svg-arrow--instagram) / 2
  );
  z-index: 1;
}
.svg-arrow--instagram {
  width: 20px;
  height: var(--height-svg-arrow--instagram);
  stroke: black;
  fill: none;
  stroke-width: 2.3;
}
.position-left {
  left: 35px;
}
.position-right {
  right: 35px;
}
.img-wrapper-instagram {
  min-width: var(--width-img--instagram);
  aspect-ratio: 1/1;
  position: relative;
}

.hide {
  display: none;
}
.theme-dark {
  --background-color--page: #f1f1f1;
  --background-color--button: #546e7a;
  --background-color--input-email: #8d6e63;
  --color--input-email: white;
  --background-color--input-email-focus: #424242;
  --background-color--tooltip: white;
  --color--tooltip: black;
  --background-color--nav: hsl(177, 67%, 45%);
}
.themes {
  display: flex;
  background-color: black;
  border-radius: 20px;
  color: var(--background-color--page);
  padding: 1px;
  position: relative;
}
.sun,
.moon {
  font-size: 20px;
}
.tooltip {
  position: absolute;
  bottom: -150%;
  left: 0%;
  background-color: var(--background-color--tooltip);
  color: var(--color--tooltip);
  transform: scale(0);
  white-space: nowrap;
  border-radius: 2px;
  transition: transform 0.1s ease-in;
  font-size: 16px;
  padding: 5px;
}
.sun {
  opacity: 1;
  transition: opacity 0.5s ease-in;
}
.moon {
  opacity: 0;
  transition: opacity 0.5s ease-in;
}
.sun:hover ~ .tooltip,
.moon:hover ~ .tooltip {
  transform: scale(1);
}
.tooltip:hover {
  cursor: default;
}
.page.theme-dark .sun {
  opacity: 0;
}
.page.theme-dark .moon {
  opacity: 1;
}
.nav-wrapper {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 2;
  animation: background-nav 0.5s ease-in both;
}
.nav {
  position: fixed;
  top: 0px;
  left: 0px;
  transform: translateX(-100%);
  width: 400px;
  background-color: var(--background-color--nav);
  transition: transform 0.5s ease-in;
  z-index: 3;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 6vw 0px;
  gap: 40px;
}
.ul-nav {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  font-size: 40px;
}
.link-nav {
  text-decoration: none;
  color: white;
}
.link-nav:hover {
  color: black;
}
.translate-nav {
  transform: translateX(0%);
}
.svg-close-container {
  align-self: flex-start;
}
.svg-close {
  width: 31px;
  height: 29px;
  fill: white;
}
@keyframes background-nav {
  from {
    background-color: transparent;
  }
  to {
    background-color: rgba(255, 255, 255, 0.6);
  }
}
.svg-login {
  width: 22px;
  height: 22px;
}
.product-container {
  padding-bottom: 10px;
}

@media (max-width: 960px) {
  .page {
    --width-img--product: calc(
      (
          100vw - 2 * var(--gap-products-container) - 2 * var(--padding-page) -
            4 * var(--padding-card)
        ) / 3
    );
    --width-img--instagram: calc(
      (
          100vw - 2 * var(--padding-page) - 2 *
            var(--gap-instagram-cards-container) - 3 * var(--padding-card)
        ) / 3
    );
    --padding-page: 0px;
  }
  .footer-wrapper {
    grid-template-columns: repeat(2, minmax(max-content, 250px));
    grid-template-rows: repeat(5, max-content);
    row-gap: 40px;
  }
  .grid-column {
    grid-column: span 2;
  }
  .grid-column-end {
    grid-column: 2/3;
  }
  .messenger-hide {
    display: none;
  }
  h1 {
    font-size: 90px;
  }
  .advert {
    font-size: 42px;
  }
  .products-container,
  .instagram-cards-container {
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    overflow-y: hidden;
  }
  .product-card,
  .img-wrapper-instagram {
    scroll-snap-align: start;
  }
  .quantity-wrapper {
    opacity: 1;
  }
  .arrow-wrapper,
  .arrow-card--instagram {
    display: none;
  }
  .advert-inner {
    width: 70%;
  }
  .sun:hover ~ .tooltip,
  .moon:hover ~ .tooltip {
    transform: scale(0);
  }
  .product-container:hover .quick--view {
    transform: translateY(100%);
  }
  .products-inner--wrapper {
    padding-left: var(--padding-card);
    padding-right: var(--padding-card);
  }
  .menu-icon-container {
    padding-left: 10px;
  }
  .products-title {
    padding-left: var(--padding-card);
  }
  .basket {
    padding-right: 10px;
  }
  .img-wrapper-instagram:hover .instagram-card-box {
    opacity: 0;
  }
  .instagram-card-title {
    font-size: 32px;
  }
  .parallax {
    background-attachment: scroll;
  }
}
@media (max-width: 820px) {
  .page {
    --width-img--product: calc(
      (
          100vw - var(--gap-products-container) - 2 * var(--padding-page) - 4 *
            var(--padding-card)
        ) / 2
    );
    --width-img--instagram: calc(
      (
          100vw - 2 * var(--padding-page) - 3 *
            var(--gap-instagram-cards-container) - var(--padding-card)
        ) / 2
    );
  }
  .login-hide {
    display: none;
  }
  .login-show {
    display: block;
  }
  .nav {
    padding-top: 20px;
    gap: 20px;
  }
  .svg-login {
    width: 30px;
    height: 30px;
  }
  .login {
    gap: 10px;
  }
  .menu-icon-container {
    flex-direction: column;
    gap: 15px;
  }
  .language-container {
    flex-direction: column;
    gap: 5px;
  }
  .button.language {
    padding-top: 0px;
  }
  .language-icon {
    display: none;
  }
  .toolbar {
    align-items: flex-start;
  }
  h1 {
    max-width: 610px;
    font-size: 58px;
  }
  .advert {
    font-size: 32px;
  }
  .svg-advert {
    transform: scale(0.7);
  }
  .products-title {
    font-size: 26px;
  }
  .instagram-card-title {
    font-size: 28px;
  }
}
@media (max-width: 520px) {
  .page {
    --width-img--product: calc(
      (100vw - 2 * var(--padding-page) - 4 * var(--padding-card) - 1px)
    );
    --width-img--instagram: calc(
      (100vw - 2 * var(--padding-page) - 3 * var(--padding-card))
    );
  }
  .footer-wrapper {
    grid-template-columns: repeat(1, minmax(120px, 260px));
    grid-template-rows: repeat(6, max-content);
    row-gap: 20px;
    text-align: center;
    margin-top: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .grid-column {
    grid-column: span 1;
    padding-top: 20px;
  }
  .grid-column-end {
    grid-column: span 1;
  }
  .footer-title {
    font-size: 16px;
    margin-bottom: 10px;
  }
  .unordered-list {
    list-style: none;
    margin: 0px;
    padding: 0px;
  }
  .footer-content {
    margin-top: 8px;
  }
  .title-input-email {
    margin-bottom: 0px;
    text-align: left;
  }
  .products-wrapper {
    height: fit-content;
    padding-bottom: 30px;
    padding-top: 30px;
  }
  .nav {
    width: 100%;
    background-color: var(--background-color--page);
  }
  .ul-nav {
    font-size: 20px;
    text-align: center;
    font-weight: 300;
    justify-content: flex-start;
    gap: 20px;
  }
  .nav .link {
    color: var(--color-nav);
  }
  .link-nav {
    color: black;
  }
  .link-nav:hover {
    color: var(--color-nav);
  }
  .svg-close {
    width: 21px;
    height: 19px;
    fill: black;
  }
  ul .login {
    justify-content: center;
  }
  .svg-login {
    width: 22px;
    height: 22px;
  }
  h1 {
    font-size: 50px;
  }
  .svg-advert {
    transform: scale(0.7);
  }
  .advert {
    font-size: 30px;
  }
  .svg-close-container {
    align-self: flex-end;
  }
  .instagram-card-title {
    font-size: 32px;
  }
  .products-title {
    text-align: center;
    padding-left: 0px;
    font-size: 26px;
  }
}
@media (max-width: 460px) {
  .instagram-card-title {
    font-size: 28px;
  }
  h1 {
    font-size: 44px;
  }
  .products-title {
    font-size: 24px;
  }
  .advert {
    font-size: 25px;
  }
  .svg-advert {
    transform: scale(0.5);
  }
}
@media (max-width: 375px) {
  .products-title {
    font-size: 24px;
  }
  .instagram-card-title {
    font-size: 22px;
  }
  h1 {
    font-size: 36px;
  }
  .logo {
    transform: scale(0.8);
  }
  .advert {
    font-size: 20px;
  }
}
@media (max-width: 320px) {
  .products-title {
    font-size: 16px;
  }
  .instagram-card-title {
    font-size: 16px;
  }
  h1 {
    font-size: 24px;
  }
  .advert {
    font-size: 16px;
  }
  .title {
    font-size: 22px;
  }
  .button-subscribe {
    font-size: 14px;
  }
  .input-email {
    padding-left: 4px;
  }
  .input-email::placeholder {
    font-size: 11px;
  }
  .logo {
    transform: scale(0);
  }
  .svg-advert {
    transform: scale(0);
  }
  .quantity-container {
    height: 30px;
  }
  .button-add {
    height: 30px;
  }
}
@media (device-width: 1180px) or (device-width: 1368px) {
  .quantity-wrapper {
    opacity: 1;
  }
  .sun:hover ~ .tooltip,
  .moon:hover ~ .tooltip {
    transform: scale(0);
  }
  .img-wrapper-instagram:hover .instagram-card-box {
    opacity: 0;
  }
  .product-container:hover .quick--view {
    transform: translateY(100%);
  }
}
